body{
	background: #e1e1e1;
	margin: 0;
	padding: 0;
}


header{
	background: #444;
	color: #f1f1f1;
	padding: 10px 40px 10px 40px;
}

h1{
	font-family: Georgia,Verdana,Arial;
	font-size: 24px;
}

.contenido{
	padding: 0 40px 0 40px;
	font-size: 18px;
	font-family: Verdana,Arial;
	color:#444;	
}

.contenido a{
	text-decoration: none;
	color: #099;
}

.contenido a:hover{
	color: #066;
}

/*************************/
.choiceform{
	padding: 20px 10px 20px 10px;
}
.opcion{
	margin-bottom: 5px;
}
input[type="submit"]{
	border: none;
	font-size: 16px;
	padding: 5px 20px 5px 20px;
	background-color: #277;
	color: #f1f1f1;
}
/*************************/

/*************************/
.resultado{
	list-style-type:square;
}
/*************************/